{% extends 'base.html' %}
{% block title %}#{{ customerorder.pk }} Order Detail{% endblock %}
{% block content %}
    <div class="container" style="margin-top: 10px; position: center">
        <div class="card" style="width:60rem">
            <div class="card-header text-center">Order #{{ customerorder.pk }}, {{ customerorder.order_date }}</div>
            <div class="card-body">
                <h6>by {{ customerorder.customer.first_name }} {{ customerorder.customer.last_name }}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10">
                        Books :
                        <ul class="list-group list-group-flush">
                            {% for book in customerorder.ordered_books.all %}
                                <li class="list-group-item">{{ book }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-lg-2">
                        <div id="status" class="alert alert-info">
                            Status : {{ customerorder.order_status }}
                        </div>
                    </div>
                    <div class="co-lg-12">
                        <div class="alert alert-warning">
                            Total price : {{ customerorder.full_price }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-lg-6">
                        {% if customerorder.order_status_id == 1 %}
                            <button class="btn btn-outline-success" style="margin-right: 3px" type="submit">
                                <a href="{% url 'orders:update_order_status' customerorder.id 2 %}"
                                   style="text-decoration: none">
                                    Confirm Order</a>
                            </button>
                        {% else %}
                            <button class="btn btn-outline-success" type="submit"><a
                                    href="{% url 'orders:update_order_status' customerorder.id 4 %}"
                                    style="text-decoration: none">Complete </a>
                            </button>
                        {% endif %}
                    </div>
                    <div class="col-lg-6">
                        <button id='cancel' class="btn btn-outline-primary" type="submit">
                            <a href="{% url 'orders:update_order_status' customerorder.id 3 %}"
                               style="text-decoration: none">
                                Cancel</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}