<form method="post">
    {% csrf_token %}

    <div class="row mb-3">
        <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
        <div class="col-md-8 col-lg-9">
            <input name="username" type="text" class="form-control"
                   id="username" value="{{ user.username }}">
        </div>
    </div>

    <div class="row mb-3">
        <label for="first_name"
               class="col-md-4 col-lg-3 col-form-label">First Name</label>
        <div class="col-md-8 col-lg-9">
            <input name="first_name" type="text" class="form-control" id="first_name"
                   value="{{ user.first_name }}">
        </div>
    </div>

    <div class="row mb-3">
        <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
        <div class="col-md-8 col-lg-9">
            <input name="last_name" type="text" class="form-control" id="last_name"
                   value="{{ user.last_name }}">
        </div>
    </div>

    <div class="row mb-3">
        <label for="email"
               class="col-md-4 col-lg-3 col-form-label">Email</label>
        <div class="col-md-8 col-lg-9">
            <input name="email" type="email" class="form-control" id="email"
                   value="{{ user.email }}">
        </div>
    </div>

    <div class="text-center">
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
</form>