{% extends 'base.html' %}
{% block title %}Profile Page{% endblock %}
{% block content %}

    <main id="main" class="main">
        <section class="section profile" style="margin-top: 20px">
            <div class="row">

                <div class="col-xl-2" style="margin-left: 25px">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                            <h2>{{ user.username }}</h2>
                            <h6>Profile active since:</h6>
                            <h6>{{ user.date_joined }}</h6>

                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                            <!-- Bordered Tabs -->
                            <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#profile-overview" aria-selected="true" role="tab">
                                        <a href="{% url 'users:profile_page' user.id %}" style="color:inherit; text-decoration: none">
                                            Overview</a>
                                    </button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit"
                                            aria-selected="false" role="tab" tabindex="-1">
                                        <a href="{% url 'users:edit_profile_page' user.id %}" style="color:inherit; text-decoration: none">Edit
                                            Profile</a>
                                    </button>
                                </li>

                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#profile-change-password" aria-selected="false"
                                            tabindex="-1" role="tab">Change Password
                                    </button>
                                </li>

                            </ul>

                            <div class="tab-content pt-2">
                                {% if include_section == "overview" %}
                                    {% include 'users/profile_page_overview.html' %}
                                {% elif include_section == "info_update" %}
                                    {% include 'users/profile_page_edit_info.html' %}
                                {% elif include_section == "change_password" %}
                                    {% include 'users/profile_page_reset_password.html' %}
                                {% endif %}
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>

{% endblock content %}