{% extends 'base.html' %}
{% block content %}
    <h2>BookShop welcomes you!</h2>
    <div class="container">
        <p>
            You've logged in as {{ user.role }}
        </p>
    </div>
    <div class="container">
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-2">
                    {% load static %}
                    <img src="{% static 'best_seller.png' %}" class="img-fluid rounded-start"
                         alt="Best Seller">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title">Best selling book of all times!</h5>
                        {% for book in best_selling_book %}
                            <p class="card-text">{{ book }} written by </p>
                        {% endfor %}
                    <a href="#" class="btn btn-primary">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
