{% extends 'base.html' %}
{% block title %}All Books{% endblock %}
{% block content %}
    <div style="margin-left: 30px">
        <h1>Books</h1>
    </div>

    <div style="float:right">
        <div class="container">
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Book Title" name="search"
                       aria-label="search" {% if search %} value="{{ search }}" {% endif %}>
                <button class="btn btn-outline-success" type="submit">Search</button>
                <button class="btn btn-outline-primary" type="button"><a href="{% url 'books:all_books' %}"
                                                                         style="text-decoration: none">Undo</a>
                </button>
            </form>
        </div>
        {% if user.is_authenticated %}
            <div class="container">
                <button type="button" class="btn btn-outline-dark"><a href="{% url 'books:book_create' %}"
                                                                      style="text-decoration: none">Add New Book</a>
                </button>
            </div>
        {% endif %}

    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                {% for book in book_list %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"><a
                                    href="{% url 'books:book_detail' book.id %}"> {{ book.book_title }}</a></h5>
                            <p class="card-text">by {{ book.book_author_updated }}</p>
                            {% if user.is_authenticated %}
                                <a href="{% url 'books:book_edit' book.id %}" class="btn btn-light">Edit</a>
                                <a href="{% url 'books:book_delete' book.id %}" class="btn btn-light">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">No books yet.</h5>
                            <p class="card-text">Add a book to the Bookshop.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}