<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Books</h1>


<div style="float:right">
    <form>
        <input type="text" placeholder="Search.." name="search"
                {% if search %} value="{{ search }}" {% endif %}
        >
        <button type="submit"><i class="fa fa-search"></i></button>
        <a href="{% url 'books:all_books' %}"><i class="fa fa-undo"></i></a>
    </form>
</div>

<ul>
    {% for book in book_list %}
        <li>
            <a href={% url 'books:book_detail' book.id %}> {{ book.book_title }}</a> by {{ book.book_author_updated }}
            <a href={% url 'books:book_edit' book.id %}>Edit</a>
            <a href="{% url 'books:book_delete' book.id %}">Delete</a>
        </li>
    {% empty %}
        <li>No books yet.</li>
    {% endfor %}
</ul>

<p>
    <a href="{% url 'books:book_create' %}">Add an New Book</a>
</p>

</body>
</html>