<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<h1>Books</h1>


<div style="float:right">
    <!-- https://www.w3schools.com/howto/howto_css_search_button.asp -->
    <form>
        <input type="text" placeholder="Search.." name="search"
                {% if search %} value="{{ search }}" {% endif %}
        >
        <button type="submit"><i class="fa fa-search"></i></button>
        <a href="{% url 'books:all_books' %}"><i class="fa fa-undo"></i></a>
    </form>
</div>

<ul>
    {% for book in book_list %}
        <li><a href={% url 'books:book_detail' book.id %}> {{ book.book_title }}</a> by {{ book.book_author_updated }}</li>
    {% empty %}
    <li>No books yet.</li>
    {% endfor %}
</ul>
</body>
</html>