{% extends 'base.html' %}
{% block title %}Delete Publisher{% endblock %}
{% block content %}
    <div class="container">
        <div class="mt-5">
            <span class="border border-warning">
                <div class="row justify-content-md-center">
                    <div class="col-md-auto">
                        <h1>Delete The Publisher</h1>

                        <p>Are you sure you want to delete the publisher: {{ publisher.publisher_name }}?</p>

                        <form action="" method="POST">
                        {% csrf_token %}
                            <input type="submit" value="Yes, delete.">
                            <input type="submit" value="Cancel" onclick="window.location.href='{% url 'books:all_publishers' %}';return false;">
                        </form>
                    </div>
                </div>
            </span>
        </div>
    </div>
{% endblock %}