{% extends 'base.html' %}
{% block title %}Publishers{% endblock %}
{% block content %}
    <div style="margin-left: 30px">
         <h2>All Publishing Houses</h2>
    </div>

    <div style="float:right">
        <div class="container">
            <form class="d-flex">
                <input class="form-control me-2" type="text" placeholder="Publishers" name="search"
                       aria-label="search" {% if search %} value="{{ search }}" {% endif %}>
                <button class="btn btn-outline-success" type="submit">Search</button>
                <button class="btn btn-outline-primary" type="button"><a href="{% url 'books:all_publishers' %}"
                                                                         style="text-decoration: none">Undo</a>
                </button>
            </form>
        </div>
        {% if user.is_authenticated %}
            <div class="container">
                <button type="button" class="btn btn-outline-dark"><a href="{% url 'books:publisher_create' %}" style="text-decoration: none">Add an New
                    Publishing House</a></button>
            </div>
            </div>
        {% endif %}
    </div>

    <div class="container">
        <div class="row row-cols-3">
            {% for publisher in publisher_list %}
                <div class="col-6">
                    <a href={% url 'books:publisher_detail' publisher.id %}>{{ publisher.publisher_name }}</a>
                </div>
                {% if user.is_authenticated %}
                    <div class="col col-lg-2">
                        <button type="button" class="btn btn-light"><a
                                href={% url 'books:publisher_edit' publisher.id %}>Edit</a>
                        </button>
                    </div>
                    <div class="col col-lg-2">
                        <button type="button" class="btn btn-light"><a
                                href={% url 'books:publisher_delete' publisher.id %}>Delete</a></button>
                    </div>
                {% endif %}
            {% empty %}
                <li>No Publishing houses yet.</li>
            {% endfor %}
        </div>
    </div>

{% endblock %}