{% extends 'base.html' %}
{% block title %}Register on Bookshop{% endblock %}
{% block content %}
    {##}
    {#    <h2>Sign Page</h2>#}
    {#    <form method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form.as_p }}#}
    {#        <button type="submit">Register</button>#}
    {#        <br><br>#}
    {#    </form>#}

    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" method="post"
                                      action="{% url 'login_registration:register_new_user' %}">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <label for="first_name" class="form-label">Your First Name</label>
                                        <input type="text" name="first_name" class="form-control" id="first_name">
                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>

                                    {% if form.errors.first_name %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ form.errors.first_name }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <label for="last_name" class="form-label">Your Last Name</label>
                                        <input type="text" name="last_name" class="form-control" id="last_name"
                                               required="">
                                        <div class="invalid-feedback">Please, enter your name!</div>
                                    </div>

                                    {% if form.errors.last_name %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ form.errors.last_name }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <label for="email" class="form-label">Your Email</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                               required="">
                                        <div class="invalid-feedback">Please enter a valid Email address!</div>
                                    </div>

                                    {% if form.errors.email %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ form.errors.email }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <label for="username" class="form-label">Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" name="username" class="form-control" id="username"
                                                   required="">
                                            <div class="invalid-feedback">Please choose a username.</div>
                                        </div>
                                    </div>

                                    {% if form.errors.username %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ form.errors.username }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <label for="password1" class="form-label">Password</label>
                                        <input type="password" name="password1" class="form-control" id="password1"
                                               required="">
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    {% if form.errors.password1 %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ form.errors.password1 }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <label for="password2" class="form-label">Password confirmation</label>
                                        <input type="password" name="password2" class="form-control" id="password2"
                                               required="">
                                        <div class="invalid-feedback">Please enter your password!</div>
                                    </div>

                                    {% if form.errors.password2 %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            {{ form.errors.password2 }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endif %}

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value=""
                                                   id="acceptTerms" required="">
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a
                                                    href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit" value="register">Create
                                            Account
                                        </button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log
                                            in</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

    </div>
{% endblock %}